

header > nav {
  border-bottom: var(--border);
  padding: 0 var(--base-font-size);
  margin: 0 -var(--base-font-size);
}

h1{
  /* need to be fixed - variables! 왜 아래위 간격이 동일하지 않지? */
	margin: var(--spacing) 0;
  text-align:center;
}


.section{
	border-top: solid black 1px;
}
h2{
  text-align:center;
}

ul{
	padding-left: var(--indent-size);
}
.author-and-date{
	margin-bottom: var(--base-font-size);
}

main{
  margin: var(--base-font-size)
}