@media (min-width: 768px) {
	:root {

	}
	h2{
		text-align: center;
  }
}

@media (min-width: 1028px) {
	:root {

	}
  header{
    position: fixed;
    top: 0;
    width: 100vw;
    
    background-color: var(--bg-section);
  }
}

.section{
	border-top: solid black 1px;
}


