body{
	margin: var(--base-font-size);
}

.author-and-date{
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	font-family: var(--font-info);
	font-size: calc(.9 * var(--base-font-size));
}
.item-author {
  flex: none;
}

.item-date {
  margin-left: auto;
}

h1{
	font-family: var(--font-h1);
	font-size: var(--h1-font-size);

	width: auto;
	
	-webkit-hyphens: auto; 
	hyphens: auto; 
}
h2{
	font-family: var(--font-h2);
	font-size: var(--h2-font-size);
	line-height: calc(1.4 * var(--h2-font-size));
	margin-bottom: calc(1.2* var(--h1-font-size));

	width: auto;
	-webkit-hyphens: auto; 
	hyphens: auto; 
}

/* aside > h4{
	border-top: solid black 1px;
} */

h4{
	font-family: var(--font-h4);
	font-size: var(--h4-font-size);
	margin-bottom: var(--spacing);
}

ul{
	list-style-type: decimal;
	font-family: var(--font-ul);
	padding-bottom: var(--spacing);
	
	font-size: var(--ul-font-size);
	line-height: calc(1.2 * var(--h2-font-size));
}


p{
	font-family: var(--font-p);
	font-size: var(--base-font-size);
	line-height: calc(1.8  * var(--base-font-size));
	margin-bottom: var(--base-font-size);
}

.section{
	margin: calc(2 * var(--spacing)) 0;
}

blockquote{
	font-family: var(--font-blockquote);
	font-size: var(--blockquote-size);
	line-height:  calc(1.5 * var(--blockquote-size));
}

.info{
	font-family: var(--font-info);
	font-size: calc(.9 * var(--base-font-size));
	margin: var(--base-font-size) 0;
	line-height: calc(1.2 * var(--base-font-size));
}