body{
	margin: calc(2 * var(--base-font-size)) var(--base-font-size);
}

h1{
	font-family: var(--font-h1);
	font-size: var(--h1-font-size);
	line-height: var(--h1-font-size);
	margin-bottom: var(--spacing);
	width: auto;
	
	-webkit-hyphens: auto; 
	hyphens: auto; 
	
	border-top: solid black 1px;
	
}


h2{
	font-family: var(--font-h2);
	font-size: var(--h2-font-size);
	line-height: var(--h2-font-size);
	margin-bottom: var(--spacing);
	width: auto;
	-webkit-hyphens: auto; 
	hyphens: auto; 
}

h3, h4, h5{
	font-family: var(--font-display);
	font-size: var(--base-font-size);
	margin-bottom: var(--spacing);
}

p{
	font-family: var(--font-display);
}