body{
	margin: calc(2 * var(--base-font-size)) var(--base-font-size);
}

h1{
	font-family: var(--font-display);
	font-size: var(--h1-font-size);
	line-height: var(--h1-font-size);
	margin-bottom: var(--spacing);
}

h2, h3, h4, h5{
	font-family: var(--font-display);
	font-size: var(--base-font-size);
	margin-bottom: var(--spacing);
}