:root{
	--font-h1:'Zodiak-ThinItalic';
	--font-h2:'PlusJakartaSans-Light';
	--font-h3:'Zodiak-ThinItalic';
	--font-p:'JetBrainsMono-Thin';

	--base-font-size: 16px;
	--h1-font-size: calc(3.7 * var(--base-font-size));
	--h2-font-size: calc(1.8 * var(--base-font-size));
	--h3-font-size: calc(1.5 * var(--base-font-size));

	--spacing: calc(1.5* var(--base-font-size));
}

@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url(fonts/Zodiak-ThinItalic.woff2) format('woff2'),
       url(fonts/odiak-ThinItalic.woff) format('woff'),
       url(fonts/Zodiak-ThinItalic.ttf) format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono-Thin';
  src: url(fonts/JetBrainsMono-Thin.woff2) format('woff2'),
       url(fonts/JetBrainsMono-Thin.woff) format('woff'),
       url(fonts/JetBrainsMono-Thin.ttf) format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-Light';
  src: url(fonts/PlusJakartaSans-Light.woff2) format('woff2'),
       url(fonts/PlusJakartaSans-Light.woff) format('woff'),
       url(fonts/PlusJakartaSans-Light.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}