:root{
	--font-h1:'Zodiak-ThinItalic';
	--font-h2:'PlusJakartaSans-Light';
	--font-h3:'Zodiak-Thin';
	--font-h4:'JetBrainsMono-Thin';
	--font-ul:'PlusJakartaSans-Light';
	--font-p:'PlusJakartaSans-Light';
	--font-blockquote: 'Zodiak-LightItalic';
	--font-info:'JetBrainsMono-Thin';

	--base-font-size: 16px;
	--h1-font-size: calc(3.7 * var(--base-font-size));
	--h2-font-size: calc(1.6 * var(--base-font-size));
	--h3-font-size: calc(1.5 * var(--base-font-size));
	--h4-font-size: var(--base-font-size);
	--ul-font-size: var(--base-font-size);
	--blockquote-size: calc(1.3 * var(--base-font-size));

	--indent-size: 40px;
	--spacing: calc(2* var(--base-font-size));
}

@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url(fonts/Zodiak-ThinItalic.woff2) format('woff2'),
       url(fonts/odiak-ThinItalic.woff) format('woff'),
       url(fonts/Zodiak-ThinItalic.ttf) format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url(fonts/Zodiak-LightItalic.woff2) format('woff2'),
       url(fonts/odiak-LightItalic.woff) format('woff'),
       url(fonts/Zodiak-LightItalic.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'JetBrainsMono-Thin';
  src: url(fonts/JetBrainsMono-Thin.woff2) format('woff2'),
       url(fonts/JetBrainsMono-Thin.woff) format('woff'),
       url(fonts/JetBrainsMono-Thin.ttf) format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-Light';
  src: url(fonts/PlusJakartaSans-Light.woff2) format('woff2'),
       url(fonts/PlusJakartaSans-Light.woff) format('woff'),
       url(fonts/PlusJakartaSans-Light.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}

ul{
	padding-left: var(--indent-size);
}

h1{
	line-height: var(--h1-font-size);
	margin: var(--spacing) 0 calc(1.2* var(--h1-font-size)) 0;
}
.author-and-date{
	margin-bottom: var(--base-font-size);
}
blockquote{
	margin: calc(2 * var(--spacing)) 0;
}