:root{
	--font-h1:'Boska-Regular';
	--font-h2:'Supreme-Light';
	--font-h3:'Boska-Regular';
	--font-h4:'JetBrainsMono-Regular';
	--font-ul:'Supreme-Light';
	--font-p:'Supreme-Light';
	--font-blockquote: 'Boska-Regular';
	--font-info:'JetBrainsMono-Regular';

	--base-font-size: 17px;
	--h1-font-size: calc(3.9 * var(--base-font-size));
	--h2-font-size: calc(1.9 * var(--base-font-size));
	--h3-font-size: calc(1.5 * var(--base-font-size));
	--h4-font-size: var(--base-font-size);
	--ul-font-size: var(--base-font-size);
	--blockquote-size: calc(1.8 * var(--base-font-size));

	--indent-size: 40px;
	--spacing: calc(2* var(--base-font-size));
}

h1{
  writing-mode: vertical-rl;
  line-height: calc(1.2 * var(--h1-font-size));
  max-height: 400px;
}

ul{
	margin-left: var(--indent-size);
}

blockquote{

	margin: calc(2 * var(--spacing)) 0;
}


@font-face {
  font-family: 'Boska-Regular';
  src: url(fonts/Boska-Regular.woff2) format('woff2'),
       url(fonts/Boska-Regular.woff) format('woff'),
       url(fonts/Boska-Regular.ttf) format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Supreme-Light';
  src: url(fonts/Supreme-Light.woff2) format('woff2'),
       url(fonts/Supreme-Light.woff) format('woff'),
       url(fonts/Supreme-Light.ttf) format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url(fonts/Zodiak-ThinItalic.woff2) format('woff2'),
       url(fonts/odiak-ThinItalic.woff) format('woff'),
       url(fonts/Zodiak-ThinItalic.ttf) format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url(fonts/Zodiak-LightItalic.woff2) format('woff2'),
       url(fonts/odiak-LightItalic.woff) format('woff'),
       url(fonts/Zodiak-LightItalic.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url(fonts/JetBrainsMono-Regular.woff2) format('woff2'),
       url(fonts/JetBrainsMono-Regular.woff) format('woff'),
       url(fonts/JetBrainsMono-Regular.ttf) format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-Light';
  src: url(fonts/PlusJakartaSans-Light.woff2) format('woff2'),
       url(fonts/PlusJakartaSans-Light.woff) format('woff'),
       url(fonts/PlusJakartaSans-Light.ttf) format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}