nav{
	width: 100%;
	height: 100%;

	border-top: var(--border);
	border-bottom: var(--border);
  /* min-width: 600px; */

	display: flex;
	flex-direction:column-reverse;
	flex-wrap: nowrap;
	writing-mode: vertical-rl;


	font-family: var(--font-h2); /* h2로 바꾸는 게 낫지 않을까? */
	font-size: var(--h2-font-size);
	line-height: var(--lh-h2);
	align-content: center;

}
/* h1{
	font-size: calc(1.5 * var(--h1-font-size));
} */
nav > section {
	border-right: var(--border);
	padding-top: var(--base-font-size);

	flex:1;
}
nav > section:last-child{
	border-right: none;
}
nav > section> a {
	text-align: center;
}
nav > section> a > span:first-child {
	writing-mode: horizontal-tb;

}
